@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,500;1,600;1,900&family=Roboto&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Fira Sans", sans-serif;
}

@theme{
  --color-primary: #E6CCFF;
}
::-webkit-scrollbar {
  display: none;
}

.reset-tw :not(pre):not(code) {
  all: revert;
}
/*
.reset-tw  
This is a class selector. It applies styles to elements inside any container with the class reset-tw.
:not(pre):not(code)  
This means: select all elements inside .reset-tw except <pre> and <code> tags.
pre and code are excluded because you usually don’t want to reset their styles (they often need special formatting for code blocks).
all: revert;
The all property is a special CSS shorthand that resets all CSS properties (except unicode-bidi and direction) for the selected element.
*/

/* this is all about prismjs color effect */
code[class*="language-"] {
  font-family: 'Fira Code', monospace;
  background: #0d0d0d;
  color: #6260c2;
  border-radius: 4px;
  padding: 0.5rem;
}

.token.keyword { color: #ff79c6; }
.token.string { color: #f1fa8c; }
.token.function { color: #50fa7b; }


.loader div:nth-child(2){
  animation-delay: 0.2s;
}
.loader div:nth-child(3){
  animation-delay: 0.4s;
}
